main {
    background-image: '';
}

h2 {
text-transform: uppercase;    
}
table {
    border: 1px solid black;
    border-collapse: collapse;
}
td {
    border: 1px solid black;
    padding: 10px;
    padding-right: 50px;
}