.sedona {
    background-image: "pictures/index-background.png";
}

h2 {
text-transform: uppercase;
}

.house {
  background-image: "pictures/house.png";
}
.food {
  background-image: "pictures/food.png";
}
.presents {
  background-image: "pictures/presents.png"
}
.sign_up {
  background-image:"pictures/contacts.png"
}
